<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <!--  这里对于原生HTML而言，是要从自身所在的位置开始定位，对于th而言目前自动定位在static的内部  -->
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
    <!--  导航  -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">管理后台</h2>
                <a th:href="@{/admin/blogs}" href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a th:href="@{/admin/types}" href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a th:href="@{/admin/tags}" href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://picsum.photos/id/10/100/100" th:src="@{${session.user.avatar}}" alt="" class="ui avatar image">
                            <span th:text="${session.user.nickName}">白泽</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu-toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!-- 二级导航 -->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs/input}" class="item">新增</a>
                <a href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>
            </div>
        </div>
        
    </div>

    <!--  中间内容  -->
    <div class="m-padded-tb-big m-container-small">
        <div class="ui container">
            <div method="POST" class="ui segment form">
                <!-- inline表示内联，并且内部有多个field -->
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown">
                                <input type="hidden" name="type">
                                <i class="dropdown icon"></i>
                                <div class="default text">分类</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">C++</div>
                                </div>
                            </div>
                            <button type="button" class="ui clear button compact">clear</button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <button type="button" id="search-btn" class="ui mini teal basic button">
                            <i class="search icon"></i>搜索
                        </button>
                    </div>
                </div>
            </div>

            <div id="table-container">
                <table th:fragment="blogList" class="ui table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--    这里的blog就是list集合中取出的Blog对象的实例，它的属性直接打点调用    -->
                    <tr th:each="blog, iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">刻意练习清单</td>
                        <td th:text="${blog.type.name}">Java</td>
                        <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                        <td th:text="${blog.published} ? '发布' : '草稿'">是</td>
                        <td th:text="${blog.updateTime}">2021-03-28 09:45</td>
                        <td>
                            <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red basic button">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui mini pagination menu" th:if="${page.totalPages} > 1">
                                <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">上一页</a>
                                <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item" th:unless="${page.last}">下一页</a>
                            </div>
                            <a href="#" th:href="@{/admin/blogs/input}" class="ui mini right floated teal basic button">新增</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>

                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">提示：</div>
                    <p th:text="${message}">恭喜，操作成功！</p>
                </div>
            </div>

        </div>
    </div>

    <br/>
    <br/>

    <!--  底部footer  -->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided  stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" class="ui rounded image" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div id="newblog-container">
                        <div class="ui inverted link list" th:fragment="newblogList">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="item" target="_blank" th:each="blog : ${newblogs}" th:text="${blog.title}">用户故事（User Story）</a>
                            <!--/*-->
                            <a href="#" class="item">用户故事（User Story）</a>
                            <a href="#" class="item">用户故事（User Story）</a>
                            <!--*/-->
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email：1157467179@qq.com</a>
                        <a href="#" class="item">QQ：1157467179</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">白泽</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2021 BaiZe Designed by BaiZe </p>
        </div>
    </footer>

    <!--  引入jq，以及semantic ui的cdn  -->
    <script crossorigin="anonymous" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" src="https://lib.baomitu.com/jquery/3.0.0/jquery.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script>
        $('.menu-toggle').click(function (){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        //消息提示框可关闭
        $('.message .close')
        .on('click', function () {
            $(this)
            .closest('.message')
            .transition('fade');
        });

        //清除分类的查询条件
        $('.clear.button')
        .on('click', function () {
            $('.type.ui.dropdown')
            .dropdown('clear');
        });

        function page(obj) {
            $("[name = 'page']").val($(obj).data("page"));
            loaddata();
        }

        //为搜索按钮设定了一个点击事件发送ajax请求
        $("#search-btn").click(function () {
            $("[name = 'page']").val(0);
            loaddata();
        });

        function loaddata() {
            //这里用了ajax请求，并且指定了返回数据的返回区域为table-container内
            //这里的分页包括了携带条件的分页
            $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
               title : $("[name='title']").val(),
               type : $("[name='type']").val(),
               recommend : $("[name='recommend']").prop('checked'),
                //这里的搜索将三个条件与page一同传回
               page : $("[name='page']").val()
            });
        }
        $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
    </script>
</body>
</html>